AddHandler cgi-script .php
DirectoryIndex index.php index.html

ErrorDocument 404 /404.html



#RewriteEngine On 

# Convert ? -> %3F in queries 
#RewriteCond %{ENV:REDIRECT_STATUS} !200 
#RewriteCond %{QUERY_STRING} !^$ 
#RewriteRule ^(.*)$ /$1\%3F%{QUERY_STRING} [L,NE]


#RewriteEngine On
#<IfModule mod_speling.c>
#CheckSpelling on
#</IfModule>

# Allow filenames containing '?' to be served by escaping the '?' in the HTTP
# request so it's not interpreted as a query string.
#
# Apache 2.2: set query string to empty by ending rewritten path with '?'.
# Apache 2.4: use the qsdiscard flag instead
#
#RewriteCond %{QUERY_STRING} !=""
#RewriteRule ^/(.*) /$1\%3F%{QUERY_STRING}? [noescape,last,redirect]


# below gives 500 internal server error
#CheckSpelling On
#RewriteRule ^(.*)/$ $1/index.html\%3F%{QUERY_STRING}? [L,qsdiscard]

